@import "../../styles/variables";

.container {
  max-width: 32rem;
  min-height: 20rem;
}

.title {
  display: block;
  font-size: 1.2rem;
  font-weight: $font-bold;
  margin-bottom: 1rem;
}

.editor {
  min-height: 10rem;
  margin-bottom: 5rem;
}
