@import "../../styles/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  max-width: 32rem;
  padding: 1rem;
}

.preview-message {
  display: block;
  font-weight: $font-bold;
  max-width: 20rem;
  text-align: center;
  line-height: 1.4rem;
  color: $color-05;
}