@import "../../styles/variables";

.container {
  width: 100%;
  max-width: 64rem;
  margin: 2rem auto;
  padding: $safe-area-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}