@import "../../styles/variables";

.container {
  max-width: 32rem;
}

.title {
  display: block;
  font-size: 1.2rem;
  font-weight: $font-bold;
  margin-bottom: 1rem;
}

.editor {
  height: 10rem;
  border-top: 1px solid $color-03;
  padding-top: 1rem;
}
